<div class="hero-container">
	<img src="/images/vehicles/delorean.jpg" alt="Hero Car" class="hero-image" />
	<div class="hero-text">
		<h1>Welcome to CSE Motors!</h1>
		<section>
			<h2>DMC Delorean</h2>
			<p>3 cup holders</p>
			<p>Superman doors</p>
			<p>Fuzzy dice!</p>
			<button class="hero-btn">Own Today</button>
		</section>
	</div>
</div>
<div class="delorean-info-container">
	<section class="delorean-upgrades">
		<h2>Delorean Upgrades</h2>
		<div class="upgrade-cards">
			<div class="card">
				<img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" />
				<p>Flux Capacitor</p>
			</div>
			<div class="card">
				<img src="/images/upgrades/flame.jpg" alt="flame decals" />
				<p>Flame Decals</p>
			</div>
			<div class="card">
				<img src="/images/upgrades/bumper_sticker.jpg" alt="bumber sticker" />
				<p>Bumper Sticker</p>
			</div>
			<div class="card">
				<img src="/images/upgrades/hub-cap.jpg" alt="hub caps" />
				<p>Hub Caps</p>
			</div>
		</div>
	</section>
	<section class="delorean-reviews">
		<h2>Delorean Reviews</h2>
		<ul>
			<li>“So fast it's almost like traveling in time.” (4/5)</li>
			<li>“Coolest ride on the road.”(4/5)</li>
			<li>“I'm feeling McFly.” (5/5)</li>
			<li>“The most futuristic ride of our day.”(4.5/5)</li>
			<li>“80's livin and love it!.”(5/5)</li>
		</ul>
	</section>
</div>
